<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Dorm:</strong>
    <%= student.dorm %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= student.experience %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= student.teacher %>
  </p>

  <p>
    <strong>School:</strong>
    <%= student.school %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= student.language %>
  </p>

</div>
